<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>*</string>
        </array>
        <key>CFBundleTypeName</key>
        <string>AllTypes</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>****</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
      </dict>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>i64</string>
          <string>I64</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>appico64.icns</string>
        <key>CFBundleTypeName</key>
        <string>IDA Pro (64-bit) Database</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSIsAppleDefaultForType</key>
        <true/>
      </dict>
    </array>
    <key>CFBundleIconFile</key>
    <string>appico64.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleGetInfoString</key>
    <string>IDA, Copyright (c) 2017 Hex-Rays SA</string>
    <key>CFBundleSignature</key>
    <string>IDA</string>
    <key>CFBundleExecutable</key>
    <string>ida64</string>
    <key>CFBundleIdentifier</key>
    <string>com.hexrays.ida64</string>
    <key>CFBundleShortVersionString</key>
    <string>7.0.170914</string>
    <key>CFBundleVersion</key>
    <string>170914</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
  </dict>
</plist>
